
<app-header></app-header>



<section style="background-color: black; height: 800px; ">
<br>
<br>
<br>
    <br>
    <br>
    
    <div class="container">
        <div class="row">
          <div class="col">
            
          </div>
          <div class="col-6 containerContact">
            <h1 style="color: rgb(127, 225, 255);" class="text-center">Contáctanos!</h1>
            <br>
    <form>
        <div class="mb-3">
            <div class="col">
                <label for="NamePerson" class="form-label" style="color:whitesmoke">Nombre</label>
                <input type="text" class="form-control" id="NamePerson" placeholder="Ingrese su nombre" maxlength="12">
              </div>
        </div>
        <div class="mb-3">
            <div class="col">
                <label for="phonePerson" class="form-label" style="color:whitesmoke">Teléfono</label>
                <input type="number" class="form-control" id="phonePerson" placeholder="Ingrese su telefono">
              </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" style="color:whitesmoke">Consulta</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ingrese su consulta"></textarea>
          </div>
        <br>
        <button type="submit" class=" button" >Enviar</button>
      </form>   
          </div>
          <div class="col">
            
          </div>
        </div>
      </div>
    
    <br>
    <br>
    
    </section>
