  <nav class="navbar navbar-expand-lg navbar-dark nav-bar" style="background-color: rgb(0, 0, 0);">  

             <div class="container-fluid">





              
             
                <a routerLink="/index" class="navbar-brand mb-0 h1 blood-titulo active " >
                <img [src]="myPortfolio.header.imgLogo" alt="rojo"width="156px" height="83.95px" >
                
              </a>
                  

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon button-nav"></span>
              </button>
          
               
              <div class="collapse navbar-collapse me-2" id="navbarSupportedContent">
        
                <div class="space-navBar">
        
          </div>

                <!-- <a routerLink="/tecnologys" class=" active navbar-brand mb-0 h1 haver-nav" href="#"> {{myPortfolio.header.nav}} </a> -->
                <a class=" active navbar-brand mb-0 h1 haver-nav" href="#"> {{myPortfolio.header.nav}} </a>
                <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item"> -->
                    <a class="nav-link active navbar-brand mb-0 h1 haver-nav" style="padding-left: 0px;" aria-current="page" href="#">{{myPortfolio.header.navTwo}} </a>
                  <!-- </li>  -->
                  <!-- <li class="nav-item"> -->
                    <a routerLink="/contactanos" class="nav-link active navbar-brand mb-0 h1 haver-nav" style="padding-left: 0px;" aria-current="page" href="#" type="button"  >{{myPortfolio.header.navThree}}</a>
                  <!-- </li> -->
                  <!-- <li class="nav-item"> -->
                    <a class="nav-link active navbar-brand mb-0 h1 haver-nav"aria-current="page" href="#"  type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-person-fill-lock button-login"> </i></a>
                  <!-- </li> -->
                  <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->

                <!-- </ul> -->
                </div>
                 <div class="sociali">
      
            <a href="https://github.com/limaki" target="_blank"><i class="bi bi-github"></i></a>
            
            <a href="https://www.facebook.com/profile.php?id=100014001584963" target="_blank"><i class="bi bi-facebook"></i></a>
            
            <a href="https://www.instagram.com/diego_torr3zzz/" target="_blank"><i class="bi bi-instagram"></i></a>
            
     
    </div>  
                
              </div> 
             </nav> 
                






        
       

      