<!-- 
<app-header></app-header>



<div class="container" >
  <div class="row">
    <div class="col-1" style="width: 20px;">
      
    </div>
    <div class="col-12 background-initialContent" >
     <div class="background-initial " >  
        
  <p id="Text-Initial" class="section-text__class-tec"> <strong class="section-text__class_strong">Tecnologías</strong> </p>

    </div>
    </div>
    <div class="col-1" style="width: 20px;">
      
    </div>
  </div>
  
</div> -->



<br>
<br>

<h4 class="section-subtitule__text">Tecnologías que dominamos</h4>      
<br>
<br>
<br>
    <section class="table-section">
 <table class="table table-dark table-hover tables">
 
  <thead style="border: 3.4px solid aqua;">
    <tr>
      
      <th scope="col" colspan="4" style="text-align:center" class="table-head">Front-end</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <th scope="row" colspan="" > Simbolo</th>
        <th scope="row" colspan="" >Nombre</th>
        <th scope="row" colspan="" >Nivel</th>
        
      </tr>
      <tr>
        
        <td class="table-img__border"><img src="../../../assets/html.png" class="table-img"></td>
        <td class="table-name__tecnology">HTML5</td>
        <td class="table-name__nivel">Alto</td>
      </tr>

      <tr>
        
        <td class="table-img__border"><img src="../../../assets/csss.png" alt="" class="table-img"></td>
        <td class="table-name__tecnology">Css</td>
        <td class="table-name__nivel">Alto</td>
      </tr>

      <tr>
        
        <td class="table-img__border"><img src="../../../assets/Javascript.png" alt="" class="table-img"></td>
        <td class="table-name__tecnology">JavaScript</td>
        <td class="table-name__nivel">SemiAlto</td>
      </tr>

      <tr>
        
        <td class="table-img__border"><img src="../../../assets/type.png" alt="" class="table-img"></td>
        <td class="table-name__tecnology">TypeScript</td>
        <td class="table-name__nivel">Medio</td>
      </tr>
      
      <tr>
        
        <td class="table-img__border"><img src="../../../assets/hhhh.png" alt="" class="table-img"></td>
        <td class="table-name__tecnology">Angular</td>
        <td class="table-name__nivel">Semimedio</td>

        <tr>
        
            <td class="table-img__border"><img src="../../../assets/boots.jfif" alt="" class="table-img"></td>
            <td class="table-name__tecnology">bootstrap</td>
            <td class="table-name__nivel">Medio</td>
          </tr>

          <tr>
        
            <td class="table-img__border"><img src="../../../assets/sass_header.jpg"  alt="" class="table-img"></td>
            <td class="table-name__tecnology">Sass</td>
            <td class="table-name__nivel">Semimedio</td>
          </tr>
      
    </tbody>
  </table>
</section>
<br>
<br>
<br>
<section class="table-section">
  <table class="table table-dark table-hover tables">
        
    <thead style="border: 3.4px solid aqua;">
      <tr>
        
        <th scope="col" colspan="4" style="text-align:center"  class="table-head">Backend</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" colspan="" > Simbolo</th>
        <th scope="row" colspan="" >Nombre</th>
        <th scope="row" colspan="" >Nivel</th>
        
      </tr>
      <tr>
        
        <td class="table-img__border"><img src="../../../assets/Backend/node.webp" alt="" class="table-img"></td>
        <td class="table-name__tecnology">Node.js</td>
        <td class="table-name__nivel">Bajo</td>
      </tr>

      <tr>
        
        <td class="table-img__border"><img src="../../../assets/Backend/sql.png" alt="" class="table-img"></td>
        <td class="table-name__tecnology">Sql</td>
        <td class="table-name__nivel">Bajo</td>
      </tr>

      <tr>
        
        <td class="table-img__border"><img src="../../../assets/Backend/mysql.svg" alt="" class="table-img"></td>
        <td class="table-name__tecnology">MySql</td>
        <td class="table-name__nivel">Bajo</td>
      </tr>

      <tr>
        
        <td class="table-img__border"><img src="../../../assets/Backend/java.png" alt=""class="table-img" ></td>
        <td class="table-name__tecnology">Java</td>
        <td class="table-name__nivel">Medio</td>
      </tr>
      
      <tr>
        
        <td class="table-img__border"><img src="../../../assets/Backend/spring boot.png" alt=""class="table-img" ></td>
        <td class="table-name__tecnology">Spring-Boot</td>
        <td class="table-name__nivel">Semimedio</td>

        <tr>
        
            <td class="table-img__border"><img src="../../../assets/Backend/mongodb.png" alt="" class="table-img"></td>
            <td class="table-name__tecnology">Mongodb</td>
            <td class="table-name__nivel">Bajo</td>
          </tr>

         <br>
         <br>



         
      
    </tbody>
  </table>
</section>

<br>
<br>
<br>




  <section class="table-section">
    <table class="table table-dark table-hover tables">
          
      <thead style="border: 3.4px solid aqua;">
        <tr>
          
          <th scope="col" colspan="4" style="text-align:center"  class="table-head">Plus(Adicional)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" colspan="" > Simbolo</th>
          <th scope="row" colspan="" >Nombre</th>
          <th scope="row" colspan="" >Nivel</th>
          
        </tr>
        <tr>
          
          <td class="table-img__border"><img src="../../../assets/Adicional/images.png" alt="" class="table-img"></td>
          <td class="table-name__tecnology">Prompt</td>
          <td class="table-name__nivel">Medio</td>
        </tr>
  
        <tr>
          
          <td class="table-img__border"><img src="../../../assets/Adicional/git.png" alt="" class="table-img"></td>
          <td class="table-name__tecnology">Git</td>
          <td class="table-name__nivel">Bajo</td>
        </tr>
  
        <tr>
          
          <td class="table-img__border"><img src="../../../assets/Adicional/github.png" alt="" class="table-img"></td>
          <td class="table-name__tecnology">GitHub</td>
          <td class="table-name__nivel">Bajo</td>
        </tr>
  
        <tr>
          
          <td class="table-img__border"><img src="../../../assets/Adicional/flag.png" alt=""class="table-img" ></td>
          <td class="table-name__tecnology">Inglés</td>
          <td class="table-name__nivel">Semimedio</td>
        </tr>
        
        <tr>
          
          <td class="table-img__border"><img src="../../../assets/Adicional/pack.png" alt=""class="table-img" ></td>
          <td class="table-name__tecnology">WebPack</td>
          <td class="table-name__nivel">Bajo</td>
        </tr>
      </tbody>
    </table>
  </section>  
  
           <br>
           <br>
  
           <h3 class="section-subtitule__text">Títulos</h3>    
           <br>
           <br>
           <br>
           <div class="container">
            <div class="row">
              <div class="col">
                
              </div>
              <div class="col-12 titulos-width">
                <div style="background-color: black;border-radius: 25px;border: 4.5px solid aquamarine">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="padding: 33px;">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/titulos/diploma.jpg" class="d-block w-100" alt="..." width="600px" height="400px">
            </div>
            <div class="carousel-item">
              <img src="../assets/titulos/CertificadohtmlYcss.jpg" class="d-block w-100" alt="..."width="600px" height="400px">
            </div>
            <div class="carousel-item">
              <img src="../assets/titulos/CertificadoJavascript.jpg" class="d-block w-100" alt="..." width="600px" height="400px">
            </div>
            <div class="carousel-item">
              <img src="../assets/titulos/CertificadoCESSI.jpg" class="d-block w-100" alt="..." width="600px" height="400px">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>        
                </div>  
              </div>
              <div class="col">
                
              </div>
            </div>
          </div>  
           
        
      

 

<!-- <app-footer></app-footer> -->
 <app-form></app-form> 






 <!-- Footer -->



<br>
<br>
<br>

<!-- <i class="bi bi-send-fill button-edit"  style="font-size: 44px;" data-bs-toggle="modal" data-bs-target="#ModalFooter"> </i> -->
<!-- [style]="myPortfolio.Resumen.backgroundFooter -->

<!-- <footer class="foot">
   
    <div class="foot-page">
    <p class="foot-page__text">© Copyright 2022<em class="foot-page__text-lima"> CATO´S</em> Inc.</p> 
    </div>
            </footer> -->




<!-- 
            <div class="modal fade" id="ModalFooter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content modalContent">
                    <div class="modal-header">
                      <h4 class="modal-title text-center"d="exampleModalLabel" style="margin-left: 4%; color: whitesmoke;">Editar footer(pie)</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Nombre Licencia</label>
                        <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxOne>
                      </div>
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Nombre Companía</label>
                        <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxTwo>
                      </div>
                      <div style="height: 20px">

                      </div>
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Color de fondo (En inglés) *Solo tiene un uso</label>
                        <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxThree>
                      </div>
                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="buttonProyectAgreege" data-bs-dismiss="modal" >Cerrar</button>
                      <button type="button" class="buttonProyectAgreegeTwo" data-bs-dismiss="modal" (click)="AgreegeFooter(boxOne.value)" (click)="AgreegeFooterTwo(boxTwo.value)" (click)="AgreegeFooterColor(boxThree.value)" (click)="DeleteWordsFooter()">Agregar</button>
                    </div>
                  </div>
                </div>
              </div>  -->