<section style="background-color: black; height: 800px; ">

<br>
<br>

<div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-6 containerLogin">
        <h1 style="color: aquamarine;">Iniciar Sesión</h1>
        <br>
<form>
    <div class="mb-3">
        <div class="col">
            <label for="NamePerson" class="form-label" style="color:whitesmoke">Nombre</label>
            <input type="text" class="form-control" id="NamePerson" placeholder="Ingrese su nombre">
          </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" style="color:whitesmoke">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña">
    </div>
    <br>
    <button type="submit" class=" button" routerLink="/index">Entrar</button>
  </form>   
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>

<br>
<br>

</section>
