<app-header></app-header>



<div class="container" >
    <div class="row">
      <div class="col-1" style="width: 20px;">
        
      </div>
      <div class="col-12 background-initialContent" >
       <div class="background-initial " >  
          
    <p id="Text-Initial" class="section-text__classServi"> <strong class="section-text__class_strong">Servicios</strong> </p>
    
      </div>
      </div>
      <div class="col-1" style="width: 20px;">
        
      </div>
    </div>
    
  </div>


<br>

    
<section class="section-portfolio">

 
 
 
  <h2 class="section-subtitule__text" >Nuestros servicios</h2>  
 
 <!-- <div class="section-title"> <h1>Nuestros<br>Servicios</h1></div> -->
 

      
 
 <br>
 
      
 
 
      
          <article class="service-limaki">
 
 <div class="service-page__blog">   
  
  
 <br>
 <h2 class="page-titulo">Página de Blog</h2> 
 <br>
 <div class="page-imagen">
 <img src="../../../assets/imagesis.jpg" alt="">
 </div>
 <br>
 <p class="page-precio">Precio : 40.000$
 <br>
 Mantenimiento : 6999$</p>
 <p class="page-descripcion">para tu informacion personal : <br> posts publicaciones Biografía etc.</p>
 <br>
 
 <ul class="page-Ventajas">
 
 <li class="page-ventajas__text">3 Revisiones gratis</li>
 <br>
 <br>
 <li class="page-ventajas__text">Pagina Personalizada a gusto </li>
 <br>
 <br>
 <li class="page-ventajas__text">Diseño dinamico muy bueno</li>
 <br>
 <br>
 <li class="page-ventajas__text"> Buena posición de búsqueda </li>
 
 </ul>
       <br>
       
       <p class="page-asunto">Contáctanos para adquirirla!<br>Ponga en asunto : <br> pagina de blog</p> 
       
 </div>
 
 <div class="service-page__comercio">   
  
  
 <br>
 <h2 class="page-titulo">Página de Comercio</h2> 
 <br>
 <div class="page-imagen">
 <img src="../../../assets/comercio.webp" alt="">
 </div>
 <br>
 <p class="page-precio">Precio : 88.000$
 <br>
 Mantenimiento : 9800$</p>
 <p class="page-descripcion">para tu Comercio <br> Personal :<br> tienda negocio distribuidora etc.</p>
 <br>
 
 <ul class="page-Ventajas">
 
 <li class="page-ventajas__text">3 Revisiones gratis</li>
 <br>
 <br>
 <li class="page-ventajas__text">Pagina Personalizada a gusto </li>
 <br>
 <br>
 <li class="page-ventajas__text">Diseño dinamico muy bueno</li>
 <br>
 <br>
 <li class="page-ventajas__text"> Buena posición de búsqueda </li>
 <br>
 <br>
    <li class="page-ventajas__text"> Ubicacion de sucursal </li>
 
 </ul>
           <br>
           <br>
           <p class="page-asunto">Contáctanos para adquirirla!<br>Ponga en asunto : <br> página de comercio</p> 
           <br>
           <br> 
 </div>
 
 </article>
                                                                    
 
 </section>

 <app-form></app-form>
<!-- <app-footer></app-footer> -->




<!-- Footer -->



<br>
<br>
<br>

<!-- <i class="bi bi-send-fill button-edit"  style="font-size: 44px;" data-bs-toggle="modal" data-bs-target="#ModalFooter"> </i> -->
<!-- [style]="myPortfolio.Resumen.backgroundFooter" -->
<footer class="foot" >
   
    <div class="foot-page">
    <p class="foot-page__text">© Copyright 2022<em class="foot-page__text-lima"> CATO´S</em> Inc.</p> 
    </div>
            </footer>




<!-- 
            <div class="modal fade" id="ModalFooter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content modalContent">
                    <div class="modal-header">
                      <h4 class="modal-title text-center"d="exampleModalLabel" style="margin-left: 4%; color: whitesmoke;">Editar footer(pie)</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Nombre Licencia</label>
                        <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxOne>
                      </div>
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Nombre Companía</label>
                        <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxTwo>
                      </div>
                      <div style="height: 20px">

                      </div>
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Color de fondo (En inglés) *Solo tiene un uso</label>
                        <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxThree>
                      </div>
                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="buttonProyectAgreege" data-bs-dismiss="modal" >Cerrar</button>
                      <button type="button" class="buttonProyectAgreegeTwo" data-bs-dismiss="modal" (click)="AgreegeFooter(boxOne.value)" (click)="AgreegeFooterTwo(boxTwo.value)" (click)="AgreegeFooterColor(boxThree.value)" (click)="DeleteWordsFooter()">Agregar</button>
                    </div>
                  </div>
                </div>
              </div>  -->
              
