<h2 class="section-subtitule__text" style="margin-top: 12px !important;">{{myPortfolio.Resumen.tittleProyects}}</h2>  

      

<br>                                             


<div class="container">
  <div class="row row-cols-3 ">
    
   
      

    <div class="col cuadro-proyects" *ngIf="CloseProyect">
      
      <i  (click)="ButtonCloseProyect()" class="bi bi-dash-circle-fill button-edit" style="font-size: 40px;"></i>
     
      <div class="d-flex flex-row justify-content-center alig-items-center ">
      <img [src]="myPortfolio.Resumen.imgProyect" alt="" width="88%" > </div>
      <br>
     
      <p class="fw-normal text-center " style="font-size: 20px; color: grey;margin-bottom: 0px !important">{{myPortfolio.Resumen.tittleProyect}}</p><br> 
      
      <div class="d-flex flex-row justify-content-center alig-items-center"><p class="text-proyectsDescription">{{myPortfolio.Resumen.textProyect}}</p></div>

      <br>
      <a href="https://unpillowed-mothers.000webhostapp.com/" target="_blank"  class="section_article__entra">{{myPortfolio.Resumen.buttonProyect}}</a>
    </div>
     

    <div class="col cuadro-proyects" *ngIf="CloseProyectTwo">
   <i  (click)="ButtonCloseProyectTwo()" class="bi bi-dash-circle-fill button-edit" style="font-size: 40px;"></i>
    <div class="col d-flex flex-row justify-content-center alig-items-center">
      <img [src]="myPortfolio.Resumen.imgProyectTwo" alt="" width="60%" ></div>
      <br>
      <p class="fw-normal text-center " style="font-size: 20px; color: grey;margin-bottom: 0px !important">{{myPortfolio.Resumen.tittleProyectTwo}} </p><br> 
      
      <div class="d-flex flex-row justify-content-center alig-items-center"><p class="text-proyectsDescription">{{myPortfolio.Resumen.textProyectTwo}}  <br> {{myPortfolio.Resumen.textProyectTwo1}}</p></div>

      <br>
      <a href="https://uncarpeted-groove.000webhostapp.com/" class="section_article__entra" target="_blank">{{myPortfolio.Resumen.buttonProyectTwo}}</a>
      
    </div>
    

    <div class="col cuadro-proyects" *ngIf="CloseProyectThree">
      <i  (click)="ButtonCloseProyectThree()" class="bi bi-dash-circle-fill button-edit" style="font-size: 40px;"></i>

      <div class="col d-flex flex-row justify-content-center alig-items-center">
        <img [src]="myPortfolio.Resumen.imgProyectThree" alt="" width="60%" >
      </div>
        <br>
        <p class="fw-normal text-center " style="font-size: 20px; color: grey;margin-bottom: 0px !important">{{myPortfolio.Resumen.tittleProyectThree}} </p><br> 
        
        <div class="d-flex flex-row justify-content-center alig-items-center"> <p class="text-proyectsDescription">{{myPortfolio.Resumen.textProyectThree}}</p>
        </div>
  
        <br>
        <a href="https://loliengs.000webhostapp.com" class="section_article__entra" target="_blank">{{myPortfolio.Resumen.buttonProyectThree}}</a>
        
      </div>
      

    <div class="col cuadro-proyects" *ngIf="CloseProyectFour">
      <i  (click)="ButtonCloseProyectFour()" class="bi bi-dash-circle-fill button-edit" style="font-size: 40px;"></i>
    <div class="col d-flex flex-row justify-content-center alig-items-center">
      <img [src]="myPortfolio.Resumen.imgProyectCreateFour" alt="" width="60%" ></div>
      <br>
      <p class="fw-normal text-center " style="font-size: 20px; color: grey;margin-bottom: 0px !important">{{myPortfolio.Resumen.tittleProyectFour}} </p><br> 
      
      <div class="d-flex flex-row justify-content-center alig-items-center"><p class="text-proyectsDescription">{{myPortfolio.Resumen.textProyectFour}}</p> </div>

      <br>
      <a href="#" class="section_article__entra" target="_self" routerLink="/vegetta777">{{myPortfolio.Resumen.buttonProyectFour}}</a>
      
    </div>


    
    <div  class="col cuadro-proyects" *ngIf="CloseProyectFive">

      <i  (click)="ButtonCloseProyectFive()" class="bi bi-dash-circle-fill button-edit" style="font-size: 40px;"></i>
     
      <div class="col d-flex flex-row justify-content-center alig-items-center">
        <img [src]="myPortfolio.Resumen.imgProyectFive" alt="" width="69%" ></div>
        <br>
        <p class="fw-normal text-center " style="font-size: 20px; color: grey; margin-bottom: 0px !important;">{{myPortfolio.Resumen.tittleProyectFive}} </p><br> 
        
        <div class="d-flex flex-row justify-content-center alig-items-center"><p class="text-proyectsDescription">{{myPortfolio.Resumen.textProyectFive}}</p> </div>
  
        <br>
        <a href="#" class="section_article__entra" target="_self" routerLink="/Elrubios">{{myPortfolio.Resumen.buttonProyectFive}}</a>
      </div>
     
      
      
    <div class="col cuadro-proyects" *ngIf="CloseProyectSix">
        <i  (click)="ButtonCloseProyectSix()" class="bi bi-dash-circle-fill button-edit" style="font-size: 40px;"></i>
        
          <div class="col d-flex flex-row justify-content-center alig-items-center">
            <img [src]="myPortfolio.Resumen.imgProyectSix" alt="" width="76%" ></div>
            <br>
            <p class="fw-normal text-center " style="font-size: 20px; color: grey;margin-bottom: 0px !important">{{myPortfolio.Resumen.tittleProyectSix}} </p><br> 
            
            <div class="d-flex flex-row justify-content-center alig-items-center"><p class="text-proyectsDescription">{{myPortfolio.Resumen.textProyectSix}} </p></div>
      
            <br>
            <a href="#" class="section_article__entra" target="_self" routerLink="/El ibai obesa">{{myPortfolio.Resumen.buttonProyectSix}}</a>
          </div>
          </div>
  </div>
 
    

 










<div id="agreegeProyectClose">
<i class="bi bi-plus-circle-fill button-edit" style="font-size: 48px;" data-bs-toggle="modal" data-bs-target="#ModalProyect" (click)="addProyect()"></i>
</div>
    <div style="display: none;" id="agreegeProyectCloseTwo">
<i class="bi bi-plus-circle-fill button-edit" style="font-size: 48px;" data-bs-toggle="modal" data-bs-target="#ModalProyectTwo" (click)="addProyectTwo()"></i>
</div> 

<div style="display: none;" id="agreegeProyectCloseThree">
<i class="bi bi-plus-circle-fill button-edit" style="font-size: 48px;" data-bs-toggle="modal" data-bs-target="#ModalProyectThree"  (click)="addProyectThree()"></i>
 </div>   

<!-- <p class="fw-normal fs-5" style="color: #757575;" id="PressionThreeText">Presione 3 veces</p> -->




 <div class="modal fade" id="ModalProyect" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalContent">
      <div class="modal-header">
        <h4 class="modal-title text-center"d="exampleModalLabel" style="margin-left: 4%; color: whitesmoke;">Agregar Proyecto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Nombre Proyecto</label>
          <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxOne>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #boxOne2></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="buttonProyectAgreege" data-bs-dismiss="modal" >Cerrar</button>
        <button type="button" class="buttonProyectAgreegeTwo" data-bs-dismiss="modal" (click)="addTwo(boxOne.value)" (click)="addThree(boxOne2.value)">Agregar</button>
      </div>
    </div>
  </div>
</div> 


  <div class="modal fade" id="ModalProyectTwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content modalContent">
      <div class="modal-header">
        <h4 class="modal-title text-center"d="exampleModalLabel" style="margin-left: 4%; color: whitesmoke;">Agregar Proyecto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Nombre Proyecto</label>
          <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxTwo>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #boxTwo2></textarea>
        </div>
       </div>
      <div class="modal-footer">
        <button type="button" class="buttonProyectAgreege" data-bs-dismiss="modal" >Cerrar</button>
        <button type="button" class="buttonProyectAgreegeTwo" data-bs-dismiss="modal" (click)="addTwo2(boxTwo.value)" (click)="addThree2(boxTwo2.value)">Agregar</button>
      </div>
    </div>
  </div>
</div>   


<div class="modal fade" id="ModalProyectThree" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalContent">
      <div class="modal-header">
        <h4 class="modal-title text-center"d="exampleModalLabel" style="margin-left: 4%; color: whitesmoke;">Agregar Proyecto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Nombre Proyecto</label>
          <input class="form-control" type="text" id="formFileMultiple" rows="1"   #boxThree>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #boxThree2></textarea>
        </div>
       </div>
      <div class="modal-footer">
        <button type="button" class="buttonProyectAgreege" data-bs-dismiss="modal" >Cerrar</button>
        <button type="button" class="buttonProyectAgreegeTwo" data-bs-dismiss="modal" (click)="addTwo3(boxThree.value)" (click)="addThree3(boxThree2.value)">Agregar</button>
      </div>
    </div>
  </div>
</div>    


