<br>
<br>

    
<!-- class="section-principaly" -->
<main >


                
     <!-- <div class="section-text"> -->
        
    


    <!-- </div>  -->
<br>
<div class="container">
        <div class="row">
          <div class="col-1" style="width: 20px;">
            
          </div>
          <div class="col-12 background-initialContent" >
           <div class="background-initial " >  <!--<div class=""style="display: none"> -->
                <!-- <img src="../../../assets/Crear.webp" alt="" > -->
                <div id="buttoFirst">
                 <i class="bi bi-send-x-fill button-edit" (click)="Delete()" style="color:aliceblue"></i> 
                 </div>
        <p id="Text-Initial" class="section-text__class">{{myPortfolio.serviceInitial}} <strong class="section-text__class_strong">{{myPortfolio.service}} </strong> </p>
        <div id="relleno-imageFirst" ></div>
            <div id="button-edit" style="padding-right: 87%;"> 
            <div id="butto">  
              <i id="alejandro-button" class="bi bi-send-x-fill button-edit-Alejandro" style="color:white; padding-top: 30px;" (click)="DeletePhoto()"></i>
       </div> 
       <div id="relleno-image" style="display: none;"></div>
            <img id="suAmor" [src]="myPortfolio.imagePerson" alt="" class="yo"> <img id="amor" src="../../../assets/imagenes/alejandro.jpg" alt=""  class="yo" style="display: none;"> 
    
</div>
</div></div>
          </div>
          <div class="col-1" style="width: 20px;">
            
          </div>
        </div>

        
        <!--   -->
      <!-- </div> -->
<!-- </main> -->
