 
 
 <!-- Modal -->





 <form action="">
                      
    <div class="modal fade oscuritooo" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content oscuritooo-form">
            <div class="modal-header" id="mamma-mia">
              <h5 class="modal-title contactanos-form" id="exampleModalLabel">Iniciar Sesion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                                                                              


                <div class="mb-3">
                    <label for="texto" class="form-label text-form">Nombre</label>
                    <input type="text" id="texto" class="form-control">
                    
                  </div>


                  <div class="mb-3">
                    <label for="inputPassword" class="form-label text-form">Contraseña</label>
                      <input type="password" class="form-control" id="inputPassword">
                    </div>
                  




          </div>
            <div class="modal-footer">
               <button type="button" class="botton-close" data-bs-dismiss="modal">Cerrar</button> 
              <button type="submit" class="botton-submit">Enviar</button>
            </div>
          </div>
        </div>
      </div>

</form>   
<form action="">
                  
    <div class="modal fade oscuritooo" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content oscuritooo-form">
            <div class="modal-header">
              <h5 class="modal-title contactanos-form" id="exampleModalLabel">Contactanos!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="mb-3">
                    <label for="texto" class="form-label text-form">Nombre</label>
                    <input type="text" id="texto" class="form-control">
                    
                  </div>


                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-form">Email Correo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
                  </div>



                 <div class="mb-3">
                  <label for="texto" class="form-label text-form">Asunto</label>
                  <input type="text" id="texto" class="form-control">
                  
                </div>



                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-form">Que necesita :)</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" maxlength="220" aria-describedby="aaa" placeholder="Consultas de precios, diseños, etc"></textarea>
                    
                  </div>




          </div>
            <div class="modal-footer">
               <button type="button" class="botton-close" data-bs-dismiss="modal">Cerrar</button> 
              <button type="submit" class="botton-submit">Enviar</button>
            </div>
          </div>
        </div>
      </div>

</form>    